@import "tailwindcss";

@theme {
  /* Definindo a fonte Geist para o projeto */
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  
  /* Cores para o seu tema dark minimalista */
  --color-background: #09090b; /* Zinc 950 */
  --color-foreground: #fafafa; /* Zinc 50 */
  --color-card: #121214;
  --color-border: #27272a; /* Zinc 800 */
}

/* Reset básico para aplicar o tema */
:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
